header {
  padding: 0 10px;
  background-color: var(--blue);
}

header {
  display: flex;
}

header #logo {
  display: flex;
}

header img {
  margin: auto 0;
  width: 124px;
  height: 24px;
}

#active {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  background-color: var(--white);
  border-radius: 20px;
  color: black !important;
  font-weight: 900;
}

#menu {
  margin-top: 5px;
  display: block;
  margin-left: auto;
}

#menu nav {
  margin-left: auto;
  padding: 20px;
  display: flex;
}

#menu nav a {
  color: var(--white);
  text-decoration: none;
  padding: 13px 15px;
  font-size: 11px;
  border-radius: 20px;
  text-align: center;
}

nav a:hover,
#active:hover {
  background-color: hsl(197, 97%, 63%);
  text-transform: uppercase;
  color: var(--white);
}

nav a::before {
  display: block;
  content: attr(title);
  text-transform: uppercase;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

#menu-icon {
  margin-left: auto;
  width: 24px;
  height: 18px;
  display: none;
  cursor: pointer;
}

.dropdown-menu {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  position: relative;
  width: 90vw;
  z-index: 1000;
  margin: 0 auto;
}

.dropdown-menu nav a {
  color: var(--dark-desaturated-cyan) !important;
}

.dropdown-menu nav {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--white);
  color: var(--dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-menu #triangle {
  display: block;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 20px solid var(--white);
  padding: 0;
  box-sizing: border-box;
  z-index: 1007;
  margin-left: auto;
}

.dropdown-menu #active {
  background-color: var(--yellow);
}

.dropdown-menu nav a {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: var(--dark-moderate-cyan);
}

@media (max-width: 435px) {
  header {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  #menu {
    margin-top: 30px;
    position: absolute;
    display: none;
  }

  #menu-icon {
    display: block;
  }
}
